.ral-1000 {background-color: #CABE8E !important;}
.ral-1001 {background-color: #CEB58C !important;}
.ral-1002 {background-color: #CFAF76 !important;}
.ral-1003 {background-color: #F2AD22 !important;}
.ral-1004 {background-color: #DFA31F !important;}
.ral-1005 {background-color: #C89625 !important;}
.ral-1006 {background-color: #DD9622 !important;}
.ral-1007 {background-color: #E5941F !important;}
.ral-1011 {background-color: #AF885D !important;}
.ral-1012 {background-color: #D8B33E !important;}
.ral-1013 {background-color: #E4DDCB !important;}
.ral-1014 {background-color: #DCC6A1 !important;}
.ral-1015 {background-color: #E5D5BB !important;}
.ral-1016 {background-color: #EDE334 !important;}
.ral-1017 {background-color: #F2AE5D !important;}
.ral-1018 {background-color: #F4D046 !important;}
.ral-1019 {background-color: #A69480 !important;}
.ral-1020 {background-color: #A2946D !important;}
.ral-1021 {background-color: #EEBB00 !important;}
.ral-1023 {background-color: #F1BB01 !important;}
.ral-1024 {background-color: #B99559 !important;}
.ral-1026 {background-color: #F0FD00 !important;}
.ral-1027 {background-color: #A78734 !important;}
.ral-1028 {background-color: #FFA200 !important;}
.ral-1032 {background-color: #DBA829 !important;}
.ral-1033 {background-color: #F3A038 !important;}
.ral-1034 {background-color: #E9A35E !important;}
.ral-1035 {background-color: #887E6B !important;}
.ral-1036 {background-color: #856E44 !important;}
.ral-1037 {background-color: #EB982E !important;}
.ral-2000 {background-color: #D7772D !important;}
.ral-2001 {background-color: #BA563C !important;}
.ral-2002 {background-color: #BE483C !important;}
.ral-2003 {background-color: #F28044 !important;}
.ral-2004 {background-color: #DF5E34 !important;}
.ral-2005 {background-color: #FF1502 !important;}
.ral-2007 {background-color: #FF9600 !important;}
.ral-2008 {background-color: #E9723A !important;}
.ral-2009 {background-color: #DB5E32 !important;}
.ral-2010 {background-color: #CC653C !important;}
.ral-2011 {background-color: #E27638 !important;}
.ral-2012 {background-color: #D46B58 !important;}
.ral-2013 {background-color: #934424 !important;}
.ral-3000 {background-color: #A8403D !important;}
.ral-3001 {background-color: #A03C3E !important;}
.ral-3002 {background-color: #9F3B3D !important;}
.ral-3003 {background-color: #8A383E !important;}
.ral-3004 {background-color: #753C42 !important;}
.ral-3005 {background-color: #663D43 !important;}
.ral-3007 {background-color: #513E40 !important;}
.ral-3009 {background-color: #734641 !important;}
.ral-3011 {background-color: #7D3D3D !important;}
.ral-3012 {background-color: #C88B78 !important;}
.ral-3013 {background-color: #99443F !important;}
.ral-3014 {background-color: #CB797D !important;}
.ral-3015 {background-color: #D8A5AE !important;}
.ral-3016 {background-color: #A94C44 !important;}
.ral-3017 {background-color: #CA5F69 !important;}
.ral-3018 {background-color: #C74F59 !important;}
.ral-3020 {background-color: #BB3939 !important;}
.ral-3022 {background-color: #CD705E !important;}
.ral-3024 {background-color: #F60100 !important;}
.ral-3026 {background-color: #FE0000 !important;}
.ral-3027 {background-color: #AD3E4F !important;}
.ral-3004 {background-color: #753C42 !important;}
.ral-3005 {background-color: #663D43 !important;}
.ral-3007 {background-color: #513E40 !important;}
.ral-3009 {background-color: #734641 !important;}
.ral-3011 {background-color: #7D3D3D !important;}
.ral-3012 {background-color: #C88B78 !important;}
.ral-3013 {background-color: #99443F !important;}
.ral-3014 {background-color: #CB797D !important;}
.ral-3015 {background-color: #D8A5AE !important;}
.ral-3016 {background-color: #A94C44 !important;}
.ral-3017 {background-color: #CA5F69 !important;}
.ral-3018 {background-color: #C74F59 !important;}
.ral-3020 {background-color: #BB3939 !important;}
.ral-3022 {background-color: #CD705E !important;}
.ral-3024 {background-color: #F60100 !important;}
.ral-3026 {background-color: #FE0000 !important;}
.ral-3027 {background-color: #AD3E4F !important;}
.ral-3028 {background-color: #CB3234 !important;}
.ral-3031 {background-color: #AB464E !important;}
.ral-3032 {background-color: #751521 !important;}
.ral-3033 {background-color: #B54740 !important;}
.ral-4001 {background-color: #8C6A8B !important;}
.ral-4002 {background-color: #924E5D !important;}
.ral-4003 {background-color: #C66A93 !important;}
.ral-4004 {background-color: #703B4D !important;}
.ral-4005 {background-color: #8470A1 !important;}
.ral-4006 {background-color: #97467E !important;}
.ral-4007 {background-color: #573E51 !important;}
.ral-4008 {background-color: #8D5789 !important;}
.ral-4009 {background-color: #A38B98 !important;}
.ral-4010 {background-color: #C05082 !important;}
.ral-4011 {background-color: #836593 !important;}
.ral-4012 {background-color: #716880 !important;}
.ral-5000 {background-color: #485B79 !important;}
.ral-5001 {background-color: #38586F !important;}
.ral-5002 {background-color: #3F4B87 !important;}
.ral-5003 {background-color: #3B4963 !important;}
.ral-5004 {background-color: #3C3F48 !important;}
.ral-5005 {background-color: #2B5D8E !important;}
.ral-5007 {background-color: #4F7194 !important;}
.ral-5008 {background-color: #454C56 !important;}
.ral-5009 {background-color: #3E667F !important;}
.ral-5010 {background-color: #2B5A84 !important;}
.ral-5011 {background-color: #3C4250 !important;}
.ral-5012 {background-color: #418EBA !important;}
.ral-5013 {background-color: #3C4661 !important;}
.ral-5014 {background-color: #71839B !important;}
.ral-5015 {background-color: #3082B4 !important;}
.ral-5017 {background-color: #186694 !important;}
.ral-5018 {background-color: #389293 !important;}
.ral-5019 {background-color: #31678B !important;}
.ral-5020 {background-color: #2A525A !important;}
.ral-5021 {background-color: #097D7D !important;}
.ral-5022 {background-color: #444267 !important;}
.ral-5023 {background-color: #5A7495 !important;}
.ral-5024 {background-color: #7098B1 !important;}
.ral-5025 {background-color: #336275 !important;}
.ral-5026 {background-color: #212A51 !important;}
.ral-6000 {background-color: #4E7D6B !important;}
.ral-6001 {background-color: #437248 !important;}
.ral-6002 {background-color: #456540 !important;}
.ral-6003 {background-color: #5A5E4D !important;}
.ral-6004 {background-color: #335554 !important;}
.ral-6005 {background-color: #365148 !important;}
.ral-6006 {background-color: #4E4E46 !important;}
.ral-6007 {background-color: #43493F !important;}
.ral-6008 {background-color: #47473F !important;}
.ral-6009 {background-color: #3F4941 !important;}
.ral-6010 {background-color: #547546 !important;}
.ral-6011 {background-color: #728567 !important;}
.ral-6012 {background-color: #444D4C !important;}
.ral-6013 {background-color: #827C64 !important;}
.ral-6014 {background-color: #534E48 !important;}
.ral-6015 {background-color: #4A4D46 !important;}
.ral-6016 {background-color: #167259 !important;}
.ral-6017 {background-color: #5E874D !important;}
.ral-6018 {background-color: #619F49 !important;}
.ral-6019 {background-color: #B9D1AF !important;}
.ral-6020 {background-color: #4A5449 !important;}
.ral-6021 {background-color: #8DA080 !important;}
.ral-6022 {background-color: #4B4640 !important;}
.ral-6024 {background-color: #298C5E !important;}
.ral-6025 {background-color: #64774A !important;}
.ral-6026 {background-color: #07695A !important;}
.ral-6027 {background-color: #85BEB8 !important;}
.ral-6028 {background-color: #446052 !important;}
.ral-6029 {background-color: #00784B !important;}
.ral-6032 {background-color: #36875E !important;}
.ral-6033 {background-color: #578F86 !important;}
.ral-6034 {background-color: #85B1B0 !important;}
.ral-6035 {background-color: #044D26 !important;}
.ral-6036 {background-color: #015D4F !important;}
.ral-6037 {background-color: #008E38 !important;}
.ral-6038 {background-color: #00BB2E !important;}
.ral-7000 {background-color: #838E94 !important;}
.ral-7001 {background-color: #949BA3 !important;}
.ral-7002 {background-color: #898270 !important;}
.ral-7003 {background-color: #7D7D71 !important;}
.ral-7004 {background-color: #A0A0A0 !important;}
.ral-7005 {background-color: #767875 !important;}
.ral-7006 {background-color: #7A7267 !important;}
.ral-7008 {background-color: #7A6A50 !important;}
.ral-7009 {background-color: #646760 !important;}
.ral-7010 {background-color: #616660 !important;}
.ral-7011 {background-color: #5E6367 !important;}
.ral-7012 {background-color: #656A6D !important;}
.ral-7013 {background-color: #605C51 !important;}
.ral-7015 {background-color: #5D6065 !important;}
.ral-7016 {background-color: #4C4F54 !important;}
.ral-7021 {background-color: #47484A !important;}
.ral-7022 {background-color: #5A5955 !important;}
.ral-7023 {background-color: #85867E !important;}
.ral-7024 {background-color: #56575C !important;}
.ral-7026 {background-color: #4B5355 !important;}
.ral-7030 {background-color: #97948D !important;}
.ral-7031 {background-color: #6B727A !important;}
.ral-7032 {background-color: #B7B4A5 !important;}
.ral-7033 {background-color: #868A7C !important;}
.ral-7034 {background-color: #96907A !important;}
.ral-7035 {background-color: #C9CBC8 !important;}
.ral-7036 {background-color: #9D9998 !important;}
.ral-7037 {background-color: #858585 !important;}
.ral-7038 {background-color: #B2B5AE !important;}
.ral-7039 {background-color: #74716A !important;}
.ral-7040 {background-color: #9EA3A7 !important;}
.ral-7042 {background-color: #949899 !important;}
.ral-7043 {background-color: #5D5F5E !important;}
.ral-7044 {background-color: #BBB6B0 !important;}
.ral-7045 {background-color: #94989B !important;}
.ral-7046 {background-color: #878C90 !important;}
.ral-7047 {background-color: #CACACA !important;}
.ral-7048 {background-color: #858071 !important;}
.ral-8000 {background-color: #8B734F !important;}
.ral-8001 {background-color: #9E6D44 !important;}
.ral-8002 {background-color: #7F5B4F !important;}
.ral-8003 {background-color: #845A41 !important;}
.ral-8004 {background-color: #915847 !important;}
.ral-8007 {background-color: #775441 !important;}
.ral-8008 {background-color: #795B43 !important;}
.ral-8011 {background-color: #654A3F !important;}
.ral-8012 {background-color: #6E4742 !important;}
.ral-8014 {background-color: #56483F !important;}
.ral-8015 {background-color: #694642 !important;}
.ral-8016 {background-color: #5B443E !important;}
.ral-8017 {background-color: #534542 !important;}
.ral-8019 {background-color: #4E4848 !important;}
.ral-8022 {background-color: #3D3C3A !important;}
.ral-8023 {background-color: #A66442 !important;}
.ral-8024 {background-color: #7E5E4F !important;}
.ral-8025 {background-color: #7C6255 !important;}
.ral-8028 {background-color: #5E4D43 !important;}
.ral-8029 {background-color: #80432A !important;}
.ral-9001 {background-color: #EAE2D7 !important;}
.ral-9002 {background-color: #D8D8D0 !important;}
.ral-9003 {background-color: #EEEEEC !important;}
.ral-9004 {background-color: #444446 !important;}
.ral-9005 {background-color: #3C3C3C !important;}
.ral-9006 {background-color: #A6A5A2 !important;}
.ral-9007 {background-color: #8F8E8A !important;}
.ral-9010 {background-color: #F2EFE8 !important;}
.ral-9011 {background-color: #3E3F41 !important;}
.ral-9016 {background-color: #F1F2ED !important;}
.ral-9017 {background-color: #404040 !important;}
.ral-9018 {background-color: #CACFC9 !important;}
.ral-9022 {background-color: #A0A1A0 !important;}
.ral-9023 {background-color: #909293 !important;}